*.cpp               text diff=cpp
*.hpp               text diff=cpp
*.md                text
*.txt               text
*.yml               text
.clang-format       text
.gitattributes      text
.gitignore          text
LICENSE             text
